<div class="js-pp-container pp-container" data-context="{{ pagepartadmin.context }}" data-pageid="{{ pagepartadmin.page.id }}" data-pageclassname="{{ pagepartadmin.getClassName(pagepartadmin.page) }}">
{% if config.viewCss is defined %}
    {% if config.viewCss is iterable %}
        {% for cssFile in config.viewCss %}
            <link rel="stylesheet" href="{{ asset(cssFile) }}">
        {% endfor %}
    {% else %}
        <link rel="stylesheet" href="{{ asset(config.viewCss) }}">
    {% endif %}
{% endif %}
    {% if pagepartadmin.possiblePagePartTypes | length > 0 %}
        <!-- First New PP select -->
        {% include '@HgabkaPagePart/PagePartAdminTwigExtension/add_pagepart.html.twig' with {first: true} %}
    {% endif %}

    <!-- Sortable container -->
    <div id="parts-{{ pagepartadmin.context }}" class="js-sortable-container sortable-container" data-scope="{% spaceless %}{% for type in pagepartadmin.possiblePagePartTypes %}{{ type.class|replace({'\\':""})~' ' }}{% endfor %}{% endspaceless %}">
        {% for id, pagepart in pagepartadmin.pagepartmap %}
            {% include '@HgabkaPagePart/PagePartAdminTwigExtension/pagepart.html.twig' with { 'id': id, 'pagepartadmin': pagepartadmin, 'editmode': false} %}
        {% endfor %}
    </div>
</div>

{% if extended is defined and extended == true %}
    {% include '@HgabkaPagePart/PagePartAdminTwigExtension/modal.html.twig' with { 'pagepartadmin': pagepartadmin } %}
{% endif %}

<div id="pageparts-deleted-container"></div>

